.categories {
  list-style: none;
  // width: 100%;
  .Category {
    display: inline-block;
  }
}

.posts {
	list-style: none;
	.Post {
		border-style: solid;
		margin-top: 10px;
		h6 {
			display: inline-block;
			margin-right: 5px;
		}
		.post-timestamp {
			color: #00b200 !important;
		}
		.post-author {
			color: #4169E1 !important;
		}
		.post-id {
			color: #A9A9A9 !important;
		}
		button {
			margin-right: 5px;
		}
			
	}

}

input {
	width: 100% !important;
}

.addPost {
	background: no-repeat bottom right;
	position: fixed;
	bottom: 20px;
	right: 10px;
	cursor: pointer;
	display: block;
}

.comments {
	list-style: none;
	.Comment {
		border-style: solid;
		margin-top: 10px;
		h6 {
			display: inline-block;
			margin-right: 5px;
		}
		.comment-timestamp {
			color: #00b200 !important;
		}
		.comment-author {
			color: #4169E1 !important;
		}
		.comment-id {
			color: #A9A9A9 !important;
		}
	}
}